{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="{% static 'js_1/index.css' %}">
    <link rel="stylesheet" href="{% static 'js_1/fontello/css/fontello.css' %}">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
    </style>

    <script src="{% static 'js_1/timer.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="header">
                <div id="name">Timer:</div>
                <div id="time">20:34:40</div>
            </div>
            <main>
                
            </main>
            <footer>2023 &copy; Jan Kowalski</footer>
        </div>
    </div>
</body>
</html>
