{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 5 movies</title>
    <link rel="stylesheet" href="{% static 'html_2/index.css' %}">
</head>
<body>
    <div id="container">
        <div id="logo">
            logo
            <h1>best movies: TOP 5</h1>
        </div>

        <div id="nav">
            nav <br>
            Dr House <br>
            True Detective <br>
            Breaking Bad <br>
            Big Bang Theory <br>
            Archiwum X
        </div>

        <div id="content">
            content <br>
            <h2>Dr House</h2>
            Grupa lekarzy na czele z charyzmatycznym, acz aspołecznym doktorem House'em
            diagnozuje nietypowe choroby, niejednokrotnie ratując życie pacjentom.

            Fabuła serialu koncentruje się na osobie doktora Gregory’ego House’a (Hugh Laurie),
            niekonwencjonalnego, ekscentrycznego, a zarazem genialnego lekarza, kierującego
            zespołem diagnostycznym w fikcyjnym Szpitalu Klinicznym Princeton-Plainsboro (PPTH)
            w New Jersey. W każdym odcinku dr House wraz ze swoim zespołem próbuje zdiagnozować
            i wyleczyć pacjentów przejawiających rozmaite objawy, niewyjaśnione wcześniej przez
            innych lekarzy. W pierwszych trzech seriach zespół dra House’a tworzyli: dr Allison
            Cameron (Jennifer Morrison), dr Robert Chase (Jesse Spencer) i dr Eric Foreman
            (Omar Epps), od czwartej serii dr Chris Taub (Peter Jacobson), dr Lawrence Kutner
            (Kal Penn) oraz dr Remy „Trzynastka” Hadley (Olivia Wilde), w siódmym sezonie w zespole
            pojawiła się Martha Masters (Amber Tamblyn), a w ósmym do zespołu dochodzą dr Chi Park
            (Charlyne Yi) oraz lekarka z więzienia dr Jessica Adams (Odette Annable). Ponadto serial
            ukazuje prywatne życie House’a, członków jego zespołu, jedynego przyjaciela - dr. Jamesa
            Wilsona (Robert Sean Leonard), ordynatora oddziału onkologii oraz dr Lisy Cuddy
            (Lisa Edelstein), dyrektor szpitala Princeton‑Plainsboro.
        </div>

        <div id="ad">
            ad
        </div>

        <div id="footer">
            footer
            Najlepsze seriale &copy
        </div>
    </div>
</body>
</html>
