{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="keys">
    <title>Zelent CSS 1</title>

    <link rel="stylesheet" href="{% static 'css_1/index.css' %}">
</head>
<body>
    <h1>Najlepsze filmy</h1>
    <pre>
        Komedia:
        <a href="https://www.filmweb.pl/film/Forrest+Gump-1994-998" target="_blank">Forrest Gump (1994)</a>
         <img src="{% static 'css_1/img/FG.jpg' %}" alt="FB image">
    </pre>
</body>
</html>
