* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family:'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    color: white;
    font-size: 18px;
}


p {
    line-height: 120%;
    margin-top: 20px;
}

header {
    width: 100%;
    font-size: 42px;
    text-align: center;
    padding-top: 20px;
    position: fixed;
    background-color: #333;
    z-index: 100;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    height: 80px;
}

.menu {
    height: 60px;
    background-color: #c34f4f;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    position: absolute;
    top: 160px;
}

footer {
    background-color: #2c2c2c;
    width: 100%;
}

i {
    font-size: 60px;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.content {
    width: 80%;
    height: 600px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icon {
    text-align: center;
    background-color: #1f1f1f;
    width: 100px;
    height: 140px;
    margin-right: 60px;
}

.icon:hover {
    background-color: #000;
}

#red {
    color: #c34f4f;
}

ol {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
    line-height: 120%;
}

ol > li {
    border-left: 2px dashed #a12d2d;
    width: 180px;
}

ol > li:hover {
    background-color: #a12d2d;
}



ol > li:last-of-type {
    border-right: 2px dashed #a12d2d;
}

ol a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}

ol > li > ul {
    list-style: none;
    height: 40px;
    display: none;
}

ol > li:hover > ul {
    display: block;
}

ol > li > ul > li {
    background-color: #cf6969;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #751b1b;
    padding-bottom: 10px;
}

ol > li > ul > li:hover {
    background-color: #be5858;
}