{% extends 'backEndBase/extended.html' %}



{% block main %}
    <p class="line-height-200">Order Cookies:</p>

    <form method="post" action="{% url 'process_order' %}" id="cookie-form">
        {% csrf_token %}
            <div class="line-height-200">
                <label class="cookie" for="buns">Buns ({{ buns }}$/item):</label>
                <input type="text" name="buns" id="buns">
            </div>
    
            <div class="line-height-200">
                <label class="cookie" for="donuts">Donuts ({{ donuts }}$/item):</label>
                <input type="text" name="donuts" id="donuts">
            </div>

            <div class="line-height-200">
                <input type="submit" name="order" id="order-cookie" value="Order">
            </div>
    </form>
{% endblock %}